body {

   /* background-image: url('https://wallpapershome.com/images/wallpapers/christmas-3840x2160-new-year-gifts-4k-17132.jpg'); */
   /* background-image: url('http://www.tokkoro.com/picsup/3079633-gift-wrap_gift-wrap-paper_gifts.jpg'); */
   background-image: url("https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  width: 100%;
  background-color: #F6CFCA;
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
